# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Entornos virtuales
.venv/
venv/
env/

# Artefactos generables (se reproducen con los scripts)
data/raw/
data/processed/
models_saved/
mlruns/

# MLflow / Spark
spark-warehouse/
mlartifacts/

# Sistema operativo / editor
.DS_Store
.idea/
.vscode/
